$colorbackground:#fefefe;
$colorbrown: #C2A479;
$colortextblack: #111111;
$colortextdarkgrey: #5E5E5E;

// $colorred:#e91b1b;
// $colortertiary: #99E2D0;
// $colorgreytext1: rgb(102, 102, 102);
// $shadowmobile: 0px 0px 10px darkgrey;
// $shadowbox:1px 5px 18px white; //à priori il s'en cogne des couleurs
// $textshadow:grey;